<div class="container">
    <div class="login-container">
        <h1 class="title">Sign Up</h1>
        <form (submit)="onSubmit()" >
            <label for="email">Email</label><br>
            <input #EmailField ="ngModel" required type="email" id="email" [(ngModel)]= "email" name="email" placeholder="Email"><br>
            <div class="alert-message" [hidden]="EmailField.valid || EmailField.pristine">This field is obligatory!</div>
            <label for="password">Password</label><br>
            <input #PasswordField ="ngModel" required type="password" id="password"  [(ngModel)]= "password" name="password" placeholder="Password"><br>
            <div class="alert-message-2" [hidden]="PasswordField.valid || PasswordField.pristine">This field is obligatory!</div>
            <label for="password">Confirm your password</label><br>
            <input #PasswordConfirmField ="ngModel" required type="password" id="password2" [(ngModel)]= "password2" name="password2" placeholder="Confirm your password"><br>
            <div class="alert-message-3" [hidden]="PasswordConfirmField.valid || PasswordConfirmField.pristine">This field is obligatory!</div>
            <input type="submit"  class="sign-button" value="Sign Up">
            <div class="sign-in-wrapper"><a href="#" class="sign-in">Already has an account?<br>Sign in</a></div>
        </form>
    </div>
</div>
