<div class="container">
    <div class="login-container">
        <h1 class="title">Profile</h1>
        <form action="#">
            <label for="username">Username</label><br>
            <input type="text" id="username" placeholder="Username"><br>
            <label for="email">Email</label><br>
            <input type="email" id="email" placeholder="Email"><br>
            <label for="age">Age</label><br>
            <input type="number" id="age" placeholder="Age"><br>
            <input type="submit" class="save-button" value="Save">
        </form>
    </div>
</div>
