<div class="container">
    <div class="profile-container">
        <h1 class="title">Profile</h1>
        <form (submit)="onSubmit()">
            <label for="username">Username</label><br>
            <input #fieldCheck required  [(ngModel)]= "username"  type="text" name="username" id="username" placeholder="Username"><br>
            <label for="email">Email</label><br>
            <input #fieldCheck required [(ngModel)]= "email"  name="email" type="email" id="email" placeholder="Email"><br>
            <label for="age">Age</label><br>
            <input #fieldCheck required  [(ngModel)]= "age" name="age" type="number" id="age" placeholder="Age"><br>
            <input type="submit" class="save-button" value="Save">
        </form>
    </div>
</div>
