<div class="friend-container">
  <section class="friend-section">
    <div>
      <h1> Friends</h1>
      <div class="search-box">
        <span>Search Friend</span>
        <form action="" class="friend-search" method="get">
          <input type="text" class="search-text" placeholder="Search">
          <button class="search-btn">Search</button>
        </form>
      </div>
      <div class="my-friends">
        <h2>My Friends</h2>
        <button class="add-btn">Add friend</button>
        <div class="friend-list-box">
          <app-friend-list></app-friend-list>
          <app-friend-list></app-friend-list>
          <app-friend-list></app-friend-list>
          <app-friend-list></app-friend-list>
        </div>
      </div>
    </div>
  </section>
</div>

