<div class="container">
  <div class="games-container">
    <h2> Games</h2>
    <div class="search-box">
      <span>Search Games</span>
      <form action="" method="get" class="games-search">
        <input type="text" class="form-control" placeholder="Search Games">
        <button class="btn btn-primary">Search</button>
      </form>
    </div>
    <h2>Featured Games</h2>
    <div class="games-list">
      <ul class="list-group">
        <li class="list-group-item "></li>
      </ul>
    </div>
  </div>
</div>

